@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

:root {
  /* Cyan */
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;

  /* Purple */
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;

  /* Slate */
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;

  /* White */
  --white: #fafafa;

  /* Font Families */
  --font-family-red-hat: "Red Hat Display", sans-serif;

  /* Font Weights */
  --font-weight-black: 900;
  --font-weight-medium: 500;

  /* Font Sizes (in rem) */
  --font-size-xxl: 4rem; /* 64px */
  --font-size-xl: 2.5rem; /* 40px */
  --font-size-lg: 3rem; /* 48px */
  --font-size-base: 0.875rem; /* 14px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-sm: 1rem; /* 16px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-36: 2.25rem; /* 36px */

  /* Line Heights */
  --line-height-tight: 110%;
  --line-height-loose: 150%;

  /* Letter Spacing */
  --letter-spacing-none: 0px;
  --letter-spacing-wide: 4px;

  /* Spacing Scale (rem) */
  --spacing-1400: 7rem; /* 112px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-900: 4.5rem; /* 72px */
  --spacing-800: 4rem; /* 64px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-400: 2rem; /* 32px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-200: 1rem; /* 16px */
  --spacing-100: 0.5rem; /* 8px */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-display);
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
