.button {
  padding: var(--spacing-200) var(--spacing-500);
  border-radius: 1.8225rem;
  height: 3.5rem;
  color: var(--white);
  font-family: var(--font-family-red-hat);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-none);
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.primary {
  background-color: var(--cyan-600);
  width: 12.0625rem;
}
.primary:hover {
  background-color: #71c0d4;
}

.secondary {
  background-color: var(--purple-600);
  width: 10.0625rem;
}
.secondary:hover {
  background-color: #b18bdd;
}

.button span {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-none);
  color: var(--cyan-300);
}
