.circleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-red-hat);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-none);
  color: var(--slate-600);
}

.circleLine {
  height: 5rem;
  border-left: 1px solid var(--slate-300);
}
