.footer {
  width: 100%;
}

.footerHero {
  padding: var(--spacing-800) var(--spacing-400);
  background-image: linear-gradient(
      rgba(77, 150, 169, 0.85),
      rgba(77, 150, 169, 0.85)
    ),
    url("/assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  font-family: var(--font-family-red-hat);
  text-align: center;
  margin-top: -1.75rem;
  width: 100%;
  justify-content: center;
  display: flex;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  max-width: 504px;
  width: 100%;
}

.footerContent h1 {
  font-size: 2rem;
  color: var(--white);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-none);
}

.footerContent p {
  font-size: var(--font-size-sm);
  color: var(--white);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-none);
}

.footerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerBtn {
  width: 12.0625rem;
}

@media (min-width: 768px) {
  .footerHero {
    background-image: linear-gradient(
        rgba(77, 150, 169, 0.85),
        rgba(77, 150, 169, 0.85)
      ),
      url("/assets/tablet/image-footer.jpg");
  }
  .footerContent h1 {
    font-size: var(--font-size-36);
  }
  .footerContent p {
    font-size: var(--font-size-sm);
  }
}
