.footerHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
}

.circleNumber {
  position: absolute;
  z-index: 999;
}

.footerContent {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-800) var(--spacing-400);
  gap: var(--spacing-300);
  background-image: linear-gradient(
      rgba(77, 150, 169, 0.85),
      rgba(77, 150, 169, 0.85)
    ),
    url("/assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  font-family: var(--font-family-red-hat);
  text-align: center;
  position: relative;
  top: -2rem;
}

.footerContent h1 {
  font-size: 2rem;
  color: var(--white);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-none);
}

.footerContent p {
  font-size: var(--font-size-sm);
  color: var(--white);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-none);
}

.footerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerBtn {
  width: 12.0625rem;
}
