.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-800);
  padding: var(--spacing-400) var(--spacing-400) var(--spacing-800)
    var(--spacing-400);
  width: 100%;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: var(--spacing-200);
}

.imageGrid > img {
  border-radius: 0.5rem;
  overflow: hidden;
}
