.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-800);
  padding: var(--spacing-400) var(--spacing-400) var(--spacing-800)
    var(--spacing-400);
  width: 100%;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: var(--spacing-200);
}

.imageGrid > img {
  border-radius: 0.5rem;
  overflow: hidden;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-400);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
  font-family: var(--font-family-red-hat);
  text-align: center;
}

.title h2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-wide);
  color: var(--cyan-600);
  font-weight: var(--font-weight-black);
  text-transform: uppercase;
}

.title h1 {
  font-size: 2rem;
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-none);
  font-weight: var(--font-weight-black);
  color: var(--slate-900);
}

.descriptions p {
  text-align: center;
  font-family: var(--font-family-red-hat);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
  letter-spacing: var(--letter-spacing-none);
  color: var(--slate-600);
}

@media (min-width: 768px) {
  .imageGrid {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-300);
  }

  .title h2 {
    font-size: var(--font-size-base);
  }
  .title h1 {
    font-size: var(--font-size-36);
  }
  .textContent {
    max-width: 504px;
    width: 100%;
  }
}
